
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Report</title>
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>

  <style>
      table, th, td {
        border:1px solid black;
      }
  </style>

<body id="page-top">

      <!-- Page Wrapper -->
     <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
              <div class="sidebar-brand-icon rotate-n-15">
                  <i class="fas fa-laugh-wink"></i>
              </div>
              <div class="sidebar-brand-text mx-3">Admin Presensi</div>
          </a>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">

          <!-- Nav Item - Dashboard -->
          <li class="nav-item ">
              <a class="nav-link" href="/">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Home</span></a>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">

          <!-- Nav Item - Upload -->
          <li class="nav-item">
              <a class="nav-link" href="/upload">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Update</span></a>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">

          <!-- Nav Item - Report -->
          <li class="nav-item active">
              <a class="nav-link" href="/report">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Report</span></a>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider">

      </ul>
      <!-- End of Sidebar -->

      
      

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

              <!-- Begin Page Content -->
              <div class="container-fluid">

                  <!-- Page Heading -->
                  <div class="d-sm-flex align-items-center justify-content-between mb-4">
                      <h1 class="h3 mb-0 text-gray-800">Report</h1>
                  </div>

                  <!-- Photo Upload -->
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Choose User</h6>
                    </div>
                    <div class="card-body">
                      <form action="/report" method="POST">
                        <label for="userChoose">Pick User</label>
                        <select name="userChoose">
                            <% for (let i = 0; i < users.length; i++) { %>
                                <option value= <%= users[i].id %> > <%= users[i].name %> </option>
                            <% }; %>               
                        </select>
                        <br>
                        <button type="submit" class="btn btn-success">Generate Data</button>
                    </form>
                    </div>
                </div>

            
                  <!-- Master Data -->
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">User Report <%= userName %></h6>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <tr>
                            <th>Date</th>
                            <th>Time In</th>
                            <th>Time Out</th>
                          </tr>

                          <% if (attendances) { %>
                            <% for (let i = 0; i < attendances.length; i++) { %>
                                <tr>
                                    <td><%= attendances[i].date %></td>
                                    <td><%= attendances[i].timeIn %></td>
                                    <td> <%= attendances[i].timeOut %> </td>
                                </tr>
                              <% }; %>
                          <% }; %>
                        
                        </table>
                      </div>
                      
                    </div>
                </div>

              </div>
              <!-- /.container-fluid -->

          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          <footer class="sticky-footer bg-white">
              <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                      <span>Copyright &copy; Rizky Mahardika 2024</span>
                  </div>
              </div>
          </footer>
          <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->




</body>

</html>
